<!doctype html>
<title>The Book Shop</title>
<style>
    body {
        text-align: center;
        padding: 150px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #333;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #dc8100;
        text-decoration: none;
    }

        a:hover {
            color: #333;
            text-decoration: none;
        }
</style>

<article>
    <h1>Contact Manager!</h1>
    <div>
        <p>Welecom the to Team. Please contact your manager to give assign you a user role & set up your profile</p>
        <p>&mdash; The Team</p>
        <p><a class="btn btn-default"> @Html.ActionLink("Exit", "Login", "Account")</a></p>
        <p>NB: If you already have a role , you can <a class="btn btn-default"> @Html.ActionLink("Login", "Login", "Account")</a></p>
    </div>
</article>